<div class="course-item">
  <div class="course-item-text">
    <div class="course-item-heading">
      <h2>Video Course 1. Name tag</h2>
      <ul class="course-item-data">
        <li>1h 28min</li>
        <li>08/28/2020</li>
      </ul>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. A alias aspernatur corporis doloribus eius eveniet
      expedita id illo magni molestiae nam necessitatibus provident qui, repellat repudiandae rerum sint tempora
      voluptates.
    </p>
  </div>
  <div class="course-item-btns">
    <a href="#" class="btn">Edit</a>
    <a href="#" class="btn">Delete</a>
  </div>
</div>
